.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App ul{
  font-family: "Montserrat";
  font-size: 17.5px;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa;
  background-color: #4682B4;
  padding-left: 500px;
  padding-right: 500px;
  text-align: center; 
  opacity: 0.75;  



}

.nav{
  font-family: "Montserrat";
  font-size: 17.5px;
  background-color: #4682B4;
  
  

}

ul{
  list-style-type: none;   
  margin: 0; 
  padding: 0; 
  
}

.flexbox-container {
  display: flex; 
  justify-content: flex-start;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa;
  


}

li a{
  display: block; 
  padding:50;
  margin-left: 15px; 
  margin-right: 15px; 
  float: left; 
  border-left-width: 50px;
  justify-content: space-between;  
  
}

.flexboxitem-1{
    text-align: right;
    margin-left: 755px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
   
}
.flexboxitem-2{

  border-right: 1px solid #bbb;

}
.flexboxitem-3{

  border-right: 1px solid #bbb;

}
.flexboxitem-4{

  border-right: 1px solid #bbb;

}

a {
  padding: 15px;
  block-size: 200px 500px; 
  display: flex; 
  justify-content: space-between; 
}

.h1{
  text-align: center;
  color: white; 
  padding: 100px;    
  background-image: url('/src/bg-image.png'); 
  opacity: 0.75;
  margin-top: 0; 




}

.qrscan{
  padding: 200px;
}


.qrScan {
  color: rgb(217, 162, 162);
  padding: 100px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  font-family: "Verdana";
  
}

button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 button:hover {
  color: #e8e8e8;
 }
 
 button:hover::before {
  width: 100%;
 }


li a:hover {
  background-color: rgb(174, 168, 168);
  
 

}

/*.welcome{
   margin: 100px;
}*/

