.main-head{
  font-family: "Georgia";
  font-size: 20px;
  text-align: center; 
  padding: 20px;

}

.make-button {
  background-color: #03cad1;
  color: rgb(217, 162, 162);
  padding: 20px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  font-family: "Verdana";
  




  
}