.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav{
  font-family: "Montserrat";
  font-size: 15px;
  background-color: #2a4ea8;

}


.leftSide{
  text-align: center; 
  margin-top: 150px;

 
}
ul{
  list-style-type: none;   
  margin: 0; 
  padding: 0; 
  
}

.flexbox-container {
  display: flex; 
  justify-content: flex-start


}

li a{
  display: block; 
  padding:50;
  margin-left: 15px; 
  margin-right: 15px; 
  float: left; 
  border-left-width: 50px;
  justify-content: space-between;  
  
}

.flexboxitem-1{
    text-align: right;
    margin-left: 755px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;


}
.flexboxitem-2{

  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;


}

a {
  padding: 15px;
  block-size: 200px 500px; 
  display: flex; 
  justify-content: space-between; 
}

.mainTitle{
  text-align: center;
  padding: 80px;    
  background-image: url('/src/bg-image.png'); 
  opacity: 0.75;
 
  

 
}

.make-button {
  background-color: #03cad1;
  color: rgb(217, 162, 162);
  padding: 20px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  font-family: "Verdana";
  
}

.logo{
   margin-right: 600px; 
   
}



li a:hover {
  background-color: rgb(174, 168, 168);
}

.welcome{
   margin: 100px;
}